@charset "utf-8";
/* CSS Document */

/*==============================*/
/* 定义Html元素 */
/*==============================*/ 
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input{padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td{font-size:12px;font-style:normal;}
strong{font-weight:bold;}
ul, ol{list-style:none outside none;}
fieldset, img{border:medium none;}
caption, th{ text-align:left;}
table{border-collapse:collapse;border-spacing:0;}
body{background:none repeat scroll 0 0 #FFF;color:#555555;font:12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;}
input, select, textarea{font:12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
a{color:#2366A8;text-decoration:none;}
a:hover{text-decoration:none;}
i, cite, em{font-style:normal;}
li{list-style-type:none;}
.hidden{display:none}
.fr{float:right!important;}
.fn{float:none!important;}
.fl{float:left;}
.clear{clear:both}
.oflow{overflow-x:hidden;overflow-y:auto;padding-top: 0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}
/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}
/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
h3{font-size:14px;color:#09C;}
s{padding:0 7px 0 7px;text-decoration:none;}
.lh30{line-height:30px;}
.red{color:#F00;}
/*==============================*/
/* 表单元素格式化及伪类效果  */
/*==============================*/ 
input[type="text"] , input[type="password"]{box-shadow:2px 2px 1px 0 #E7E7E7 inset;background-color:#FBFBFB;border-color:#CCCCCC #DDDDDD #DDDDDD #CCCCCC;border-style:solid;border-width:1px;font-family:Tahoma;height:26px;line-height:26px;text-indent:4px;padding:0 !important;}
input[type="text"]:focus , input[type="password"]:focus , textarea:focus{background-color:#FFFFFF;border-color:#CCCCCC;box-shadow:1px 1px 1px 0 #E7E7E7;}
input[type="password"]:focus{background-color:#FFFFEC;border-color:#FFCC99;box-shadow:1px 1px 1px 0 #E7E7E7;}
.readonly{box-shadow:none!important;border:none!important;}

select{background-color:#FFFFFF;border-color:#CCCCCC #DDDDDD #DDDDDD #CCCCCC;border-image:none;border-style:solid;border-width:1px;box-shadow:2px 2px 1px 0 #E7E7E7 inset;height:29px;line-height:29px;padding:1px;}
textarea{background-color:#FBFBFB;border-color:#CCCCCC #DDDDDD #DDDDDD #CCCCCC;border-image:none;border-style:solid;border-width:1px;box-shadow:2px 2px 1px 0 #E7E7E7 inset;font-family:Tahoma;line-height:18px;padding:1px 2px 3px 4px !important;}

.container tfoot input[type="submit"],.container tfoot input[type="button"]{background:url(../image/default/user_admin/repeat_x.png) repeat-x center -73px;border:1px solid #8D8D8D;border-radius:4px 4px 4px 4px;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);color:#555555;display:inline-block;padding:0 10px;text-align:center;margin:4px 10px 0 0;float:left;height:28px;}
.container tfoot input[type="submit"]:hover,.container tfoot input[type="button"]:hover{background-position:0 -40px;border-color:#AED2FF;box-shadow:none;color:#498CD0;text-decoration:none;}
input[type="checkbox"],input[type="radio"]{float:left;margin-right:5px;}
#del{margin-top:5px;margin-right:8px;}

.container input.submit,.table3 input.submit{background:url(../image/default/user_admin/submit.gif) no-repeat;border:0 none;border-radius:4px 4px 4px 4px;box-shadow:1px 1px 0 rgba(0, 0, 0, 0.1);color:#555555;cursor:pointer;font-weight:700;margin:8px 0 8px;height:34px;line-height:34px;width:120px;}
.container input.submit:hover,.table3 input.submit:hover{background:url(../image/default/user_admin/submit.gif) 0 bottom no-repeat;box-shadow:none;color:#000000;}

.button{float:left;margin:2px 0 0 0;}
.button li{float:left;position:relative;z-index:90;margin:0 3px;}
.button li .a_button{background:url(../image/admin/menu-bg.png) repeat-x top;cursor:pointer;font-weight:normal;color:#333333;line-height:23px;height:23px;float:left;padding:0 15px;border:0 none;border-radius:10px 10px 10px 10px;border:1px solid #8D8D8D;box-shadow:1px 1px 0 rgba(0, 0, 0, 0.1);}
.button li .a_button span{z-index:3;position:relative;}
.button li .a_button em{border-color:#333 transparent transparent;border-image:none;border-style:solid;border-width:4px;font-size:0;height:0;line-height:0;position:absolute;top:12px;right:8px;width:0;}
.button li:hover .a_button{background:#FFF;border-color:#8C8C8C;}

.select_btn{background:#FFFFFF;border:1px solid #8D8D8D;border-top:none;border-radius:0 0 10px 10px;left:0;position:absolute;top:17px;z-index:2;padding-top:5px;display:none}
.select_btn li{margin:0px;}
.select_btn .li a{color:#333333;float:left;line-height:23px;height:23px;padding-left:0;text-align:center;padding:0 15px;font-weight:normal;}
.button li:hover .select_btn{display:block;}

.select_table{margin-top:15px;}
.select_table .button{float:left;margin:2px 0 0 0;}
.select_table .button li{float:left;position:relative;z-index:90;margin-right:6px;}
.select_table .button li .a_button{background:#F5F5F5;cursor:pointer;color:#00528E;line-height:23px;height:23px;float:left;padding:2px 20px;border:1px solid #FFF;border-radius:10px 10px 10px 10px;box-shadow:none;}
.select_table .button li .a_button span{z-index:3;position:relative;}
.select_table .button li .a_button em{border-color:#333 transparent transparent;border-image:none;border-style:solid;border-width:4px;font-size:0;height:0;line-height:0;position:absolute;top:14px;right:16px;width:0;}
.select_table .button li:hover .a_button{background:#FFFFFF;color:#333;border:1px solid #E7E7E7;}
.select_table .button .select_btn{background:#FFFFFF;border-color:#E7E7E7;top:22px;}
.select_table .button .select_btn li{padding-bottom:5px;}
.select_table .button li:hover .select_btn{display:block;}

label{float:left;margin:2px 10px 2px 0;line-height:13px;}
.btn2{background:url(../../image/default/user_admin/repeat_x.png) repeat-x center -73px;border:1px solid #8D8D8D;border-radius:4px 4px 4px 4px;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);color:#555555;display:inline-block;height:20px;line-height:19px;padding-left:10px;padding-right:10px;text-align:center;}
.btn2:hover{background-position:0 -40px;border-color:#AED2FF;box-shadow:none;color:#498CD0;text-decoration:none;}
label.more{margin:18px 0 0 15px;}
/*--搜索--*/
.select_table{width:100%;margin-bottom:10px;}
.select_table td{height:25px;}
.select_box{float:left;}
.select_box input{float:left;}
.select_box .txt{height:26px;line-height:26px;box-shadow:none;border-radius:5px;margin-right:5px;}
.select_box .s{background:url(../image/admin/search.png) no-repeat 5px 7px;text-indent:20px;}
.select_box .c,.cdr{background:url(../image/admin/calendar.png) no-repeat 5px 5px !important;text-indent:28px !important;}
.select_box .txt:focus{border-color:#047AD1;box-shadow:0 0 5px rgba(82,168,236,0.5);}
.select_box input[type="submit"]{background-color:#F0F8FF;color:#0099cc;font:12px/1.5 Tahoma,Georgia, Helvetica, Arial, "宋体", sans-serif;cursor:pointer;height:28px;line-height:26px;padding:0 15px;vertical-align:middle;border:none;margin-right:5px;background:-moz-linear-gradient(center top ,#519BDC,#047AD1) repeat #047AD1;border-radius:5px;letter-spacing:2px;}
.refresh{cursor:pointer;float:left;height:28px;width:28px;background:url(../image/admin/refresh.png) 0 top no-repeat;}
.refresh:hover{ background-position:0 bottom;}
.search{float:left;position:relative;margin-right:10px;z-index:2;}
.search .a-search{float:left;height:26px;line-height:26px;padding:0 10px;border:1px solid #FFF;position:relative;z-index:3;background:#FFF;}
.search .div-search{display:none;background:#FFF;position:absolute;top:25px;left:0;width:360px;border:1px solid #DDDDDD;box-shadow:0 0 5px rgba(201,201,201,0.9);}
.search .div-search .line{position:absolute;background:#FFF;z-index:6;float:left;width:360px;height:5px;}
.search .search-con{padding:20px;}
.search .search-con dl{padding:5px 0;float:left;clear:both;}
.search .search-con dt{float:left;width:60px;}
.search .search-con dd{float:left;}
.search .search-con input[type="submit"]{color:#FFFFFF;height:28px;line-height:28px;padding:0 15px;vertical-align:middle;border:none;margin:10px auto 0;background:-moz-linear-gradient(center top ,#519BDC,#047AD1) repeat #047AD1;border-radius:5px;letter-spacing:2px;}
.search .close{background:url(../image/admin/close.png) no-repeat;cursor:pointer;position:absolute;right:-12px;top:-6px;width:22px;height:22px;z-index:8;}
.search.hover .a-search{border:1px solid #DDDDDD;border-bottom:none;box-shadow:0 0 5px rgba(201,201,201,0.9);}
.search.hover .div-search{display:block;}

.catalogBox{position:relative;float:left;z-index:100;margin-right:5px;}
.catalogBox .select{float:left;position:relative;border-style:solid;border-width:1px;border-color:#CCCCCC #DDDDDD #DDDDDD #CCCCCC;border-radius:5px;cursor:pointer;height:26px;min-width:48px;overflow:hidden;padding:0 25px 0 10px;}
.catalogBox .select span{color:#666666;display:inline-block;font-size:12px;line-height:26px;overflow:hidden;}
.catalogBox .select b{border-color:#CCCCCC transparent transparent;border-style:solid dashed dashed;border-width:4px;height:0;overflow:hidden;position:absolute;right:10px;top:12px;width:0;}
.i-select{display:none;left:0;position:absolute;top:27px;z-index:100;}
.i-select ul{background:#FFFFFF;border-style:solid;border-width:1px;border-color:#CCCCCC #DDDDDD #DDDDDD #CCCCCC;overflow-x:hidden;min-width:82px;border-radius:5px;padding:5px 0;}
.i-select ul li{color:#333333;cursor:pointer;height:18px;line-height:18px;overflow:hidden;padding:2px 0;text-indent:6px;}
.i-select ul li:hover{background:#333333;color:#FFFFFF;}

.operate{position:relative;z-index:0;width:50px;}
.operate a.opear{color:#444444;vertical-align:middle;}
.operate a.opear i{border-color:#333 #FFF #FFF;border-style:solid dashed dashed;border-width:4px;height:0;overflow:hidden;position:absolute;right:2px;top:9px;}
.operate ul{background:#FFF;border:1px solid #DDD;box-shadow:0 0 5px rgba(201,201,201,0.9);left:0;position:absolute;top:22px;z-index:998;display:none;}
.operate ul li{display:block;margin:5px 0;text-align:center;vertical-align:middle;width:53px;padding-right:5px;}
.operate ul li a{color:#0B559F;display:block;height:20px;width:100%;font-weight:normal;}
.operate.hover,.operate.hover-up{z-index:1;box-shadow:0 0 5px rgba(201,201,201,0.9);}
.operate.hover a.opear{background:#FFF;border:1px solid #DDD;border-bottom:none;position:relative;z-index:999;display:inline-block;height:22px;width:53px;padding-top:5px;padding-right:5px;}
.operate.hover ul,.operate.hover-up ul{display:block;}
.operate.hover a.opear i,.operate.hover-up a.opear i{right:6px;top:8px;border-color:#FFF #FFF #333;border-style:dashed dashed solid;}
.operate.hover-up a.opear{background:#FFF;border:1px solid #DDD;border-top:none;position:relative;z-index:999;display:inline-block;height:22px;width:53px;padding-top:5px;padding-right:5px;}

.dialog_button{background:#F0F0F0;border-top:1px solid #C4C4C4;bottom:0;height:40px;left:0;line-height:40px;position:absolute;right:0;text-align:center;}
.dialog_button input[type="button"]{background:url(../image/admin/dialog_button.png) no-repeat;border:0 none;cursor:pointer;font-weight:bold;height:26px;margin:7px 0 3px;float:none;text-align:center;color:#FFFFFF;width:70px;}
.edit{background:url(../image/admin/edit.jpg) 5px 5px no-repeat;padding:5px 10px 0 25px;float:left;}
/*--长度高度--*/
.w50{width:50px;}
.w95{width:95px}
.w150{width:150px;}
.w160{width:160px;}
.w162{width:162px;}
.w168{width:168px;}
.w200{width:200px;}
.w215{width:215px;}
.w250{width:250px;}
.w245{width:245px;}
.w252{width:252px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w343{width:343px;}
.w350{width:350px;}
.h35{height:30px;}
/*--定位--*/
.mr5{margin-right:5px;}
.mt10{margin-top:10px;}
.mb6{margin-bottom:6px;}
.mtb6{margin:6px 0;}
.pl20{padding-left:20px!important;}
.ac{text-align:center !important;}
.al{text-align:left !important;}
.tl td{text-align:left !important;}
.ar{text-align:right !important;}
/*--颜色--*/
.org{color:#FF4F01;}

/*--首页--*/
#header{background:url(../image/admin/header.gif) bottom repeat-x;height:60px;line-height:88px;overflow:hidden;position:relative;text-align:left;}
.logo{display:block; width:180px;padding:0px 0px 0px 30px}
.info{line-height:32px;position:absolute;right:40px;top:15px;z-index:4;}
.info p{float:left;margin-left:10px;}
.info .portrait{background:url(../image/admin/portrait.gif) center left no-repeat;padding-left:20px;}
.info p a{color:#0181A6;border-left:1px solid #B6D1DA;padding-left:10px;}
.nav{height:35px;left:250px;position:absolute;top:15px;width:100%;z-index:2;}
.nav ul{font-size:14px;overflow:hidden;position:relative;z-index:4;}
.nav li{float:left;height:27px;line-height:27px;padding-left:2px;margin:0px 10px;}
.nav li a{color:#00528E;font-weight:700;padding:0 5px;cursor:pointer;}
.nav li.navon{background:url(../image/admin/header.jpg) no-repeat left;}
.nav li.navon a{background:url(../image/admin/header.jpg) right no-repeat;color:#FFFFFF;display:block }
.menutd{background:url(../image/admin/bg_left.gif) right repeat-x;padding-top:9px;width:180px;}
.menu{position:relative;width:180px;z-index:20;}
.menu ul{list-style:none outside none;position:relative;width:180px;}
.menu li{height:auto !important;margin:3px 0;overflow:hidden;position:relative;}
.menu li.s{height:auto;}
.menu1{background: url(../image/admin/icon1.png) 10px center  no-repeat;color:#666666;display:block;padding:4px 0 3px 30px;white-space:nowrap;margin-right:7px;}
.menu li a{background: url(../image/admin/icon.gif) 10px center  no-repeat;color:#666666;display:block;padding:4px 0 3px 30px;white-space:nowrap;margin-right:7px;}
.menu li a:hover{background-color:#EAF4FB;}
.menu li a.tabon{color:#2366A8;background-color:#DEEFFA;}
.menu li a.tabon em{width:7px;background:url(../image/admin/bg.png) right  no-repeat #DEEFFA;cursor:pointer;height:23px;right:0;top:0px;position:absolute;width:8px;}
.menu div div{font-weight:700;padding:4px 0 3px 30px;}
.menu div ol{list-style:none outside none;margin:2px 0 0 -30px;padding:0 0 0 30px;}
.menu .add{background:url(../image/admin/add.gif) no-repeat 9px 5px;cursor:pointer;}
.menu .add ol{display:none}
.menu .minus{background:url(../image/admin/minus.gif) no-repeat 9px 5px;cursor:pointer;}
.frame{background:url(../image/admin/bg_right.gif) repeat-x;padding-top:9px;}
.copyright{border-top:1px dashed #DDDDDD;bottom:3px;font-family:Tahoma;font-size:11px;left:5px;line-height:150%;padding-top:3px;position:absolute;text-align:left;z-index:10;width:160px;}
#scrolllink{background-color:#F2F9FD;bottom:40px;left:0;padding:2px 0;position:absolute;width:170px;text-align:center;z-index:21;}
.add-menu{position:absolute;top:8px;left:6px;cursor:pointer;height:10px;width:10px;text-align:center;}
/*--container--*/
.container{padding:9px 20px 20px;text-align:left;margin: 0 0 0 0;}
.flow{background:url(../image/admin/fixed_bg.png) bottom repeat-x #FFFFFF;left:0;margin:0 20px;padding:12px 20px 8px 2px; position:fixed;top:0;width:95.5%;z-index:200; }
.h35{height:35px;margin-bottom:10px;}
.itemtitle{clear:b oth;overflow:hidden;line-height:20px;}
.itemtitle h3{float:left;font-size:14px;margin-bottom:15px;color:#09C;margin-right:20px;}
.itemtitle ul{float:left;line-height:18px;margin-top:2px;}
.itemtitle ul li{float:left;font-weight:700;margin-right:3px;}
.itemtitle ul li a{color:#666666;display:block;white-space:nowrap;} 
.itemtitle ul a span{padding:0 7px;display:block;}
.itemtitle ul a:hover{background:#F5F5F5;border-radius:4px 4px 4px 4px;color:#09C;}
.itemtitle ul .current a{background:#494949;border-radius:4px 4px 4px 4px;color:#FFF;}
.itemtitle .stepstat li{font-weight:normal;margin-right:15px;color:#ccc;}
.itemtitle .stepstat li.current{color:#090;}

.table {clear:both;margin-top:2px;width:100%;}
.table th, .table td{height:25px;padding:10px 5px;text-align:center;}
.table td{border-top:1px dotted #DEEFFB;}
.table .img{padding:2px;border:1px solid #D3D3D3;}
.table .header th{border-top:1px dotted #DEEFFB;font-weight:700;background:#F2F9FD;padding:5px;color:#0099CC;font-weight:700;line-height:21px;}
.table1 td{text-align:left;}

/*--无记录--*/
.norecord{padding:50px 240px !important;}
.norecord i{background:url(../image/default/user_admin/norecord.gif) no-repeat scroll 0 0 transparent;display:inline-block;float:left;height:44px;margin-right:16px;width:44px;}
.norecord span{display:inline-block;float:left;font-family:"微软雅黑";font-size:1.3em;font-weight:700;line-height:44px;text-align:left;width:220px;}

.table .partition{background:#F2F9FD;padding:5px 10px;color:#0099CC;font-weight:700;line-height:21px;text-align:left;}

/*--order--*/
.table .tr td{height:25px;padding:10px 5px 5px;}

.table2{clear:both;margin-top:2px;width:100%;}
.table2 td{height:25px;padding:5px 5px 10px;}
.table2 .td{font-weight:700;padding:3px 0 0 5px;border-top:1px dotted #DEEFFB;}
.table2 li{cursor:pointer;line-height:12px;float:left;margin-right:10px;overflow:hidden;white-space:nowrap;}
.table2 .nofloat li{clear:both;margin:5px 0;overflow:visible;}
.table2 .tip{color:#999999;line-height:180%;word-break:break-all;}
.table2 tr:hover .tip{color:#000;}

.table3{margin:10px auto;width:96%;}
.table3 .tips{background:none repeat scroll 0 0 #FDFAD9;border:1px solid #FFB400;color:#666666;height:auto;line-height:20px;margin:10px 0;padding:10px 10px 0px;}
.table3 td{padding:5px;height:30px;}

.table4{width:96%;margin:auto;border-left:1px solid #DDD;border-bottom:1px solid #DDD;}
.table4 thead td{background:url(../image/admin/bg.gif);padding:8px 10px;}
.table4 td{border-top:1px solid #DDD;border-right:1px solid #DDD;padding:8px 10px;}

.form-error{color:#F00;margin-top:2px;}
/*--品牌--*/
.brand{padding:5px 0; float:left;width:70%;}
.brand dt{font-weight:bold;}
.brand dl{float:left;width:100%;padding:5px 0;}
.brand dl label{margin:5px 5px 5px 0;}

/*--添加ROW--*/
.addtr{background:url(../image/admin/addtr.png) no-repeat 0 1px;color:#FF6600;line-height:25px;padding-left:17px;}
.deleterow{background:url(../image/admin/close.png) no-repeat 0 50%;padding-left:12px;color:#FFFFFF;line-height:25px;margin-left:5px;}
.addchildboard{background:url(../image/admin/addchildboard.png) no-repeat 0;color:#FFFFFF;line-height:25px;margin-left:5px;padding-left:20px;}
.addchildboard:hover,.deleterow:hover{color:#FF6600 !important;text-decoration:none;}
.board{background:url(../image/admin/board.png) no-repeat -55px 3px;padding-left:55px;}
.lastboard{background:url(../image/admin/board.png) no-repeat 0 -47px;padding-left:165px;}
.childboard{background:url(../image/admin/board.png) no-repeat 0 3px;padding-left:110px;}
.childsboard{background:url(../image/admin/board.png) no-repeat 0 -47px;padding-left:165px;}
/*--取消--*/
.cancel{float:left;}
.cancel li{ height:16px;line-height:16px;padding:4px 0;} 
/*--提示--*/
.tips{padding-top:15px;}
.tips li{background:url(../image/admin/icon.gif) no-repeat 0 7px;line-height:160%;margin-bottom:5px;padding:0 0 5px 15px;text-align:left;}
.hint{color:#BBBBBB;line-height:20px;}
ul.hint{padding:10px 0 5px;}
.hint li{float:left;width:20%;color:#666;padding-bottom:5px;}
#error{display:none;background-color:rgba(255,102,0,0.95);border-radius:4px 4px 4px 4px;box-shadow:2px 2px 0 rgba(0,0,0,0.1);color:#FFFFCC!important;font-weight:600;line-height:20px;padding:4px 30px;position:absolute;text-align:center;z-index:999;left:100px;}
/*--分页--*/
.pages{line-height:26px;}
.page{float:right;padding:2px 0px;}
.page a,.page b{background-color:#FFFFFF;background-repeat:no-repeat;border:1px solid #C2D5E3;color:#333333;display:inline;float:left;height:20px;line-height:20px;margin-left:4px;overflow:hidden;padding:0 4px;text-decoration:none;}
.page b{background-color:#E5EDF2;}
/*--规格属性--*/
.type{border-bottom:1px solid #DDDDDD;margin:30px auto;padding-left:0px;}
.type span{float:left;background-color:#FFFFFF;border:1px solid #DDDDDD;border-bottom:none;cursor:pointer;padding:5px 15px;text-align:center;width:80px;margin-right:5px;}
.type .cur{background-color:#FFFFFF;border-color:#FF9900 #DDDDDD #FFFFFF;border-style:solid;border-width:2px 1px 1px;cursor:pointer;font-weight:bold;height:25px;line-height:25px;padding:5px 15px;text-align:center;width:80px;margin-top:-8px;margin-bottom:-1px;}
.type_list table{width:100%;margin:10px 0;}
.list{background:#F8F8F8;height:520px;padding:20px;}
.list .left{float:left;width:30%;overflow:hidden;}
.list .right{float:right;width:68%;}
.list .mt{padding:0 0 5px;}
.list .mc{padding:15px 10px;height:460px;border:1px solid #DDDDDD;}
.list .left .mc{background-color:#FFF;}
.list .left ul{height:460px;width:100%;overflow-y:auto;overflow-x:hidden;}
.list .left li{float:left;clear:right;width:90%;padding:5px 0;line-height:14px;}
.list .tips{background:#FDFAD9;border:1px solid #FFB400;color:#666666;font-weight:normal;height:auto;line-height:20px;margin:10px 0;padding:10px;}
.list dt{margin:0 5px 5px;}
.list dt h2{font-weight:bold;margin-bottom:5px;}
.list dd{border:1px solid #3366CC;background-color:#FFF;margin:0 5px 5px;float:left;padding:5px;}

#msgObj{border:3px solid #eee !important;}
.titleBar{height:28px !important;height:22px;color:#FF5F00!important;font-weight:bold;}
.closeBtn{background-image:url(../image/default/close.png);background-repeat:no-repeat;background-position:center;width:30px;cursor:pointer;float:right;height:26px;}
#msgObj tr:nth-last-child(1) td{background:none;}
#msgObj tr td img{margin-right:10px;}


#mdly{position:absolute;right:0;margin-top:-25px;padding:10px 25px;width:250px;height:100px;background:url(../image/admin/mdly.png) no-repeat 0 0; line-height:29px;overflow:hidden;}
#mdly .min{position:absolute;top:10px;right:10px;width:35px;height:32px;line-height:100px;overflow:hidden;}
#mdly label{position:absolute;right:50px;top:20px;}
#mdly h6{line-height:32px;margin-bottom:6px;}
#mdly h6 strong{margin:0 3px;color:#F26C4F;}
#mdly.cpd{margin-top:4px;margin-right:-3px;padding:0;width:35px;height:32px;border:none;background-position:0 -128px;}
#mdly.cpd h6{padding-top:40px;}
#mdly.cpd .cp{display:none;}
#mdly.cpd .max{display:block;position:absolute;margin:0;left:3px;top:0;z-index:999;width:32px;height:32px;color:#F26C4F;text-align:center;cursor:pointer;}

.p-img,.p-name,.p-price,.p-market,.p-detail,.p-sales{overflow:hidden;white-space:normal;}
.p-name{margin:5px 0;word-break:break-all;word-wrap:break-word;}
.p-img{margin:10px auto 5px;text-align:center;background:#EEE;}
.p-price{color:#999999;}
.p-price strong,.p-market strong{font-size:12px;color:#FF6F0F;font-family:verdana;}
.plist{float:left;margin-bottom:10px;width:142px;margin-right:10px;position:relative;}
.plist .p-name{height:40px;line-height:20px;}
.plist .p-img{width:120px;height:120px;}
.plist .checkbox{position:absolute;top:0;left:0;}
.plist .handle{display:none;}
.plist.hover .handle{background:rgba(0,0,0,0.5);display:block;height:30px;left:0;position:absolute; bottom:0;width:140px;z-index:99;}
.plist.hover .handle a{background:url(../image/admin/share.png) no-repeat 0 0;display:block;float:right;height:13px;margin-right:12px;margin-top:9px;overflow:hidden;text-indent:999%;width:13px;}
.plist.nmr{margin-right:0;}
.plist.add_pro a:hover{background-position:center bottom;}
.table2 .plist{border:1px solid #EEE;padding:10px;width:120px;height:200px;}
.oflow .plist .m{border:1px solid #EEE;padding:10px;position:relative;background:#FFF;z-index:100;}
.oflow .plist.hover .m{height:auto;position:absolute;top:0;left:0;}
.oflow .plist.hover .m .p-name{height:auto;min-height:40px;}
.plist.add_pro{text-align:center;}
.plist.add_pro a{width:28px;height:28px;display:inline-block;background:url(../image/admin/add_pro.png) center top no-repeat;margin-top:70px;}
.plist.no{width:60px;height:60px;}
.plist.no a{margin-top:15px;}
.small .plist{border:1px solid #EEE;padding:10px 2px 10px 8px;width:80px;height:140px;}
.small .plist .p-name{height:42px;line-height:14px;}
.small .plist .p-img{width:60px;height:60px;}
.small .plist.hover .handle{width:90px;}
.home label{margin-bottom:5px;line-height:13px;}

.member_top{border:1px solid #deeffb;padding:15px 20px 20px;margin-top:20px;}
.member_top dt{float:left;width:90px;padding-top:5px;}
.member_top dd{margin-left:110px;}
.member_top dd th{padding:5px;font-weight:normal;}
.member_top dd td{padding:5px;}
.member_bottom{margin-top:20px;}
.member_bottom .mt{line-height:36px;background-color:#f2f9fd;margin-bottom:10px;}
.member_bottom .mt li{float:left;width:25%;cursor:pointer;}
.member_bottom .mt a{float:left;text-align:center;width:100%;border:1px solid #f2f9fd;border-bottom:1px solid #deeffb;}
.member_bottom .mt li.fr{width:24%;}
.member_bottom .mt li.current a{background:#FFF;border-color:#deeffb #deeffb #f2f9fd;}
.member_bottom .i-mc ul{margin:15px 0;border-bottom:1px solid #deeffb;border-left:1px solid #deeffb;position:relative;}
.member_bottom .i-mc ul li{float:left;background:#f2f9fd;}
.member_bottom .i-mc ul li a{float:left;padding:3px 12px;line-height:24px;border-top:1px solid #deeffb;border-right:1px solid #deeffb;border-bottom:1px solid #deeffb;margin-bottom:-1px;   border-radius:3px 3px 0 0;}
.member_bottom .i-mc ul li.current{background:#FFF;}
.member_bottom .i-mc ul li.current a{border-bottom-color:#FFF;}

.member_bottom .talbe1 td,
.member_bottom .talbe1 th{line-height:30px;font-weight:normal;padding:10px 5px;border-bottom:1px solid #deeffb;}
.member_bottom .talbe1 select{float:left;margin-right:10px;}
.member_bottom .talbe1 .text{width:250px;float:left;}
.member_bottom .talbe1 .label{line-height:14px;margin:7px 0 0 15px;}
.member_bottom .table2 th,
.member_bottom .table2 td{text-align:left;padding:5px 10px;border:1px solid #deeffb;}
.member_bottom .table2 th{padding:8px 10px;}
.member_bottom .page{float:none;padding:5px 0;}
.member_bottom .page a,
.member_bottom .page b{float:none;padding:3px 6px;}

.member_bottom .order{border-collapse:collapse;clear:both;line-height:20px;margin:auto;width: 99.9%;}
.member_bottom .order thead th{background:#f2f9fd;border-bottom:1px solid #deeffb;color:#0099cc;padding:7px 0 6px;text-align:center;}
.member_bottom .order tbody td.sep-row{border:0 none;height:12px;padding:0;}
.member_bottom .order tbody th{border-top:1px solid #C4D5E0;padding:10px;background-color: #EDF5FF;}
.member_bottom .order tbody .bdl{border-left:1px solid #C4D5E0;}
.member_bottom .order tbody .bl{border-left:1px solid #C4D5E0;}
.member_bottom .order tbody .bdr{border-right:1px solid #C4D5E0;}
.member_bottom .order tbody:hover .bl{border-bottom-color:#AFD9FF;}
.member_bottom .order tbody:hover .bdb{border-bottom-color:#AFD9FF;}
.member_bottom .order tbody:hover th{border-top-color:#AFD9FF;}
.member_bottom .order tbody:hover .bdl{border-left-color:#AFD9FF;}
.member_bottom .order tbody:hover .bdr{border-right-color:#AFD9FF;}
.member_bottom .order tbody td{border-bottom:1px solid #C4D5E0;vertical-align:top;padding:12px 0;text-align:center;}
.member_bottom .order .success-order th{background:#F5F5F5;border-top-color:#E8E8E8;}
.member_bottom .order .success-order .bdl{border-left-color:#E8E8E8;}
.member_bottom .order .success-order .bl{border-left-color:#E8E8E8;}
.member_bottom .order .success-order .bdr{border-right-color:#E8E8E8;}
.member_bottom .order .success-order:hover .bl{border-bottom-color:#BFBFBF;}
.member_bottom .order .success-order:hover .bdb{border-bottom-color:#BFBFBF;}
.member_bottom .order .success-order:hover th{border-top-color:#BFBFBF;}
.member_bottom .order .success-order:hover .bdl{border-left-color:#BFBFBF;}
.member_bottom .order .success-order:hover .bdr{border-right-color:#BFBFBF;}
.member_bottom .order .success-order td{border-bottom-color:#E8E8E8;}
.member_bottom .order tbody td a{color:#3c3c3c;display:block;margin-bottom:4px;text-decoration:none;}
.member_bottom .order tbody td a.org{color:#FF4400;background:url(../../../image/default/user_admin/order.png) no-repeat 0 -179px;padding-left:2px;}
.member_bottom .order tbody td a.black{background:url(../../../image/default/user_admin/order.png) no-repeat 0 -150px;padding-left:5px;}
.member_bottom .order tbody td a:hover{color:#FF4400!important;}
.member_bottom .order tbody th a{color:#3c3c3c;text-decoration:none;}
.member_bottom .order tbody th a:hover{color:#FF4400!important;}
.member_bottom .order tbody .dealtime{font-family:verdana;font-weight:700;float:left;margin-right:12px;}
.member_bottom .order tbody .number{float:left;}
.member_bottom .order tbody td.product{padding-left:20px;text-align:left;}
.member_bottom .order tbody td.product .pic{display:inline;float:left;margin:4px 12px 0 0;border:1px solid #e9e9e9;}
.member_bottom .order tbody td.product .desc{display:inline;float:left;width:270px;overflow:hidden;word-wrap:break-word;text-align:left;}
.member_bottom .order .page{padding:15px 0 0;}
